AWSTemplateFormatVersion: "2010-09-09"

Description: AWS CloudFormation - Package and deploy.

Resources:
  PythonFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: cfn-python-function
      Description: Python Function to return specific TimeZone time
      Runtime: python3.12
      Role: !Sub arn:aws:iam::${AWS::AccountId}:role/LabRole
      Handler: lambda_function.handler
      Code: lambda/

Outputs:
  LambdaFunction:
    Description: AWS Lambda Python Function
    Value: !Ref PythonFunction
